<a href="https://colab.research.google.com/github/JDCovar/JDCovar/blob/main/Operations_and_Expressions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=10

print(10>9)
print(10<9)
print(10==9)

True
False
False

In [2]:
def MyFunction():
  return True

  print(myFunction())

  True

In [ ]:
if myFunction():
  print("False")
  else:
    print("True")

In [13]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)

15
5
50
2.0
0

In [14]:
a = 60
b = 13

print(a&b)
print(1|b)
print(1^b)

12
13
12

In [15]:
s = True
t = False

not(s and t)

True

In [16]:
g = 100
h = 50

if g>h:
  print("g is greater than h")

g is greater than h

In [17]:
if g>h:
  print("g is greater than h")
  elif g<h:
    print("g is less than h")
    else:
      print("g is ")

SyntaxError: ignored

In [18]:
if g==h: print('g is equal to h')

In [19]:
print("G") if g>h else print("H")

G

In [24]:
x = 31

if x>10:
      print("and also above 10")
      if x>10:
      print("and also above 20")
      if x>20:
      print("and also above 30")
      if x>30:
      print("and also above 40")
      if x>40:
      print("and also above 50")

IndentationError: ignored

In [ ]:
if age>=18:
  print("You are qualified to vote")
else:
    print("You are not qualified to vote")

In [32]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
season = ['rainy','sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

In [33]:
for x in week:
  if x=="Friday":
    break
    print(x)

In [ ]:
while i<6:
  print(i)
  i+=1

In [ ]:
i = 1

while i<6:
  if i==2:
    i+=1